@font-face {
    font-family: myfont;
    src: url("Assests/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    color: #000000;
  }
  
  html,
  body {
    height: 100%;
  
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }
  #nav {
    overflow: hidden;
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 580px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
  }
  #nav a {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1vw;
    color: white;
  }
  .about {
    background: white;
    padding: 100px 0 20px 0;
    text-align: center;
}
 
.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
 
.about-img {
    width: 30rem;
    height: 20rem;
 
}
 
.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}
 
.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}
 
button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #C8815f;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}
 
button:hover {
    background-color: black;
}
